<div class="container">
    <h1 class="mt-3">Category List</h1>

    <div class="d-flex justify-content-end m-3">
        <a [routerLink]="['/admin/category/add']" class="btn btn-primary">Create New Category</a>
    </div>

    @if (cetagories.length > 0) {
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>URL Handle</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (category of cetagories; track category.id) {
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name || 'No Name' }}</td>
                        <td>{{ category.urlHandle || 'No URL Handle' }}</td>
                        <td>
                            <a class="btn btn-light" [routerLink]="['/admin/category/',category.id]">Edit</a>
                          
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    } @else {
        <div class="alert alert-info mt-3">
            <p>No categories found. <a [routerLink]="['/admin/category/add']" class="alert-link">Create your first category</a></p>
        </div>
    } 
</div>

<div>
    
</div>